@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<_1640WebApp.Data.Idea>
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.IO
@using _1640WebApp.Data
@using Microsoft.EntityFrameworkCore;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styleLikeF.css">
    <link rel="stylesheet" type="text/css" href="~/css/reactAnimation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-3qCJj3ljKRZPvHzpWwxhN1CCwnbYXyM1d43CyLWgVJj0iOWunfT/jDsoBRP+h7V2OJSrUbXVtJlztJbXXV95OA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>MediaBook</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.like-button').click(function () {
                var idea = $(this).closest('.idea');
                var ideaId = idea.data('idea-id');
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).siblings('.reaction-button').removeClass('active');
                    $(this).addClass('active');
                }
                updateReaction(ideaId, 1, getReactionButtonId(ideaId, 'like'));

            });
            $('.love-button').click(function () {
                var idea = $(this).closest('.idea');
                var ideaId = idea.data('idea-id');
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    var reactionButtons = idea.find('.reaction-button');
                    reactionButtons.removeClass('active');
                    $(this).addClass('active');
                }
                updateReaction(ideaId, 2, getReactionButtonId(ideaId, 'love'));

            });
            $('.haha-button').click(function () {
                var idea = $(this).closest('.idea');
                var ideaId = idea.data('idea-id');
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    var reactionButtons = idea.find('.reaction-button');
                    reactionButtons.removeClass('active');
                    $(this).addClass('active');
                }
                updateReaction(ideaId, 3, getReactionButtonId(ideaId, 'haha'));

            });

            $('.dislike-button').click(function () {
                var idea = $(this).closest('.idea');
                var ideaId = idea.data('idea-id');
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    var reactionButtons = idea.find('.reaction-button');
                    reactionButtons.removeClass('active');
                    $(this).addClass('active');
                }
                updateReaction(ideaId, 4, getReactionButtonId(ideaId, 'dislike'));
            });

        });

        function getReactionButtonId(ideaId, reactionType) {
            return reactionType + '-' + ideaId + '-1';
        }

        function updateReaction(ideaId, reaction, reactionButtonId) {
            $.ajax({
                type: 'POST',
                url: '/Idea/UpdateReaction',
                data: { ideaId: ideaId, reaction: reaction },
                success: function (data) {
                    // Update the total number of reactions for the idea
                    $('#total-reactions-' + ideaId).text(data.totalReacts);

                    // Update the count for the current reaction type
                    $('#like-count-' + ideaId).text(data.likeCount);
                    $('#love-count-' + ideaId).text(data.loveCount);
                    $('#haha-count-' + ideaId).text(data.hahaCount);
                    $('#dislike-count-' + ideaId).text(data.dislikeCount);

                    // Update the active class for the reaction button
                    $('.reaction-button').removeClass('active');
                    $('#' + reactionButtonId).addClass('active');

                },
                error: function () {
                    alert('An error occurred while updating the reaction.');
                }
            });
        }

    </script>

    <style>
        .comment {
            border: 1px solid black; /* Tạo viền mỏng màu đen */
            border-radius: 10px; /* Bo góc bên phải */
            background-color: #918de4;
            margin: 2px;
            padding: 7px;
            color: white;
        }

        textarea {
            margin: 6px 5px 10px 0px;
            padding: 7px;
            border-radius: 5px;
            width: 450px;
        }

        button {
            border-radius: 5px;
            padding: 5px;
            margin: 5px 5px 5px 0px;
        }

        .lele {
            border-radius: 5px;
            border: 1px solid white;
            color: white;
            padding: 5px;
            background-color: #3a5cd4;
            font-size: 13px;
        }

        .lele1 {
            border-radius: 5px;
            border: 1px solid white;
            color: white;
            padding: 5px;
            background-color: darkred;
            font-size: 13px;
        }

        .post .post-top .dp > img {
            width: 100%;
            cursor: pointer;
            height: 100%;
        }

    </style>


</head>

<body>
    <div>
        <nav>
            <div class="nav-left">
                <img src="~/images/logo.png" alt="Logo">
                <form method="get" action="@Url.Action("Search", "Idea")" style="margin: 5px">
                    <input type="text" placeholder="Search here" name="searchString" style="padding: 6px 12px; border-radius: 12px; border: 1px solid gray;">
                </form>
            </div>

            <div class="nav-middle">
                <a href="#" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="#">
                    <i class="fa fa-user-friends"></i>
                </a>

                <a href="#">
                    <i class="fa fa-play-circle"></i>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <span class="profile"></span>

                <a href="#">
                    <i class="fa fa-bell"></i>
                </a>

                <a href="#">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </div>
        </nav>

        <div style="padding-bottom:50px" class="container">
            <div class="left-panel">
                <ul>
                    <li>
                        <i class="fa fa-user-friends"></i>
                        <p>Friends</p>
                    </li>
                    <li>
                        <i class="fa fa-play-circle"></i>
                        <a asp-controller="Idea" asp-action="Music"><p style="margin-left:8px;">Musics</p></a>
                    </li>
                    <li>
                        <i class='fas fa-gamepad'></i>
                        <a asp-controller="Idea" asp-action="Game"><p style="margin-left:8px;">Game</p></a>
                    </li>
                    <li>
                        <i class="fa fa-flag"></i>
                        <p>Pages</p>
                    </li>
                    <li>
                        <i class="fa fa-users"></i>
                        <p>Groups</p>
                    </li>
                    <li>
                        <i class="fa fa-bookmark"></i>
                        <p>Bookmark</p>
                    </li>
                    <li>
                        <i class="fab fa-facebook-messenger"></i>
                        <p>Inbox</p>
                    </li>
                    <li>
                        <i class="fas fa-calendar-week"></i>
                        <p>Events</p>
                    </li>
                    <li>
                        <i class="fa fa-bullhorn"></i>
                        <p>Ads</p>
                    </li>
                    <li>
                        <i class="fas fa-hands-helping"></i>
                        <p>Offers</p>
                    </li>
                    <li>
                        <i class="fas fa-briefcase"></i>
                        <p>Jobs</p>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <p>Favourites</p>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <div class="form-group border text-center border-info rounded p-0 ">
                            @Html.DropDownList("SelectLists", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control", @id = "filter-sort" })
                        </div>
                    </li>
                </ul>
                @*
                    script để lọc khi user chọn type sẽ trả về kết quả mà không cần nhấn submit
                    sử dụng ajax thêm nó bên dưới trên thẻ </body>
                *@                
                <script>
                    $(document).ready(function () {
                        $('#filter-sort').change(function () {
                            // lấy giá trị được chọn trong dropdown list      
                            var type = $(this).val();
                            // truyền gía trị user đã chọn vào controler bằng đường link
                            // Filter sẽ nhận và sử lý data
                            window.location.href = '@Url.Action("Filter", "Idea")?typeData=' + type;
                        });
                    });
                </script>


            </div>


            <div class="middle-panel">

                <div class="story-section">

                    <div class="story create">
                        <div class="dp-image">
                            <img src="~/images/dp.jpg" alt="Profile pic">
                        </div>
                        <span class="dp-container">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span class="name">Create Story</span>
                    </div>


                    <div class="story">
                        <img src="~/images/model.jpg" alt="Anuska's story">
                        <div class="dp-container">
                            <img src="~/images/girl.jpg" alt="">
                        </div>
                        <p class="name">Anuska Sharma</p>
                    </div>

                    <div class="story">
                        <img src="~/images/boy.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/dp.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Gaurav Gall</span>
                    </div>

                    <div class="story">
                        <img src="~/images/mountains.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/boy.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Priyank Saksena</span>
                    </div>

                    <div class="story">
                        <img src="~/images/shoes.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/model.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Pragati Adhikari</span>
                    </div>
                </div>

                @if(@ViewBag.UserEmail.Contains("@coordinator")){
                    <div class="post create">
                        <h1 style="text-align: center;">@ViewBag.DepartmentName Department</h1>
                    </div>
                }


                <div class="post create">
                    <div class="post-top">

                        <div class="dp">
                            @if (ViewBag.UserImage != null)
                            {
                                <img src="@Url.Content("~/uploads/" + ViewBag.UserImage)" alt="User Image" />
                            }

                        </div>
                        <input type="text" placeholder="What's on your mind, @ViewBag.UserName ?" />
                        
                        
                    </div>

                    <div class="post-bottom">
                        <div class="action">
                            <i class="fa fa-video"></i>
                            <span>Live video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-image"></i>
                            <span>Photo/Video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-smile"></i>
                            <span>Feeling/Activity</span>
                        </div>
                    </div>
                </div>


                @foreach (var item in Model.OrderByDescending(i => i.Datatime))
                {
                    
                    <div class="post">
                        <div class="post-top">
                            @if (item.Anonymous == true)
                            {
                                <div class="dp">
                                    <img src="~/images/download.png" alt="" style="height: 100%; width: 100%">
                                </div>
                                <div class="post-info">
                                    <p class="name">Incognito</p>
                                    <span class="time">@Html.DisplayFor(modelItem => item.Datatime)</span>
                                </div>
                                <div style="margin-left:200px;">
                                    @if (User.Identity.Name == item.CreatorEmail)
                                    {
                                        <a class="lele" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    }
                                    else
                                    {
                                        <a class="lele1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    }

                                    <a class="lele" asp-action="Details" asp-route-id="@item.Id">View</a>
                                    @if (User.Identity.Name == item.CreatorEmail)
                                    {
                                        <a class="lele" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    }
                                    else
                                    {
                                        <a class="lele1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    }
                                </div>

                            }
                            else
                            {
                                <div class="dp">
                                    @if (!string.IsNullOrEmpty(item.User.Image))
                                    {
                                        <img class="profile" src="/uploads/@item.User.Image" style="height: 100%; width: 100%">
                                    }
                                </div>
                                <div class="post-info">
                                    <p class="name">@Html.DisplayFor(modelItem => item.User.UserName)</p>
                                    <span class="time">@Html.DisplayFor(modelItem => item.Datatime)</span>
                                </div>
                                <div style="margin-left:200px;">
                                    @if (User.Identity.Name == item.CreatorEmail)
                                    {
                                        <a class="lele" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    }
                                    else
                                    {
                                        <a class="lele1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    }

                                    <a class="lele" asp-action="Details" asp-route-id="@item.Id">View</a>
                                    @if (User.Identity.Name == item.CreatorEmail)
                                    {
                                        <a class="lele" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    }
                                    else
                                    {
                                        <a class="lele1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    }
                                </div>
                            }




                        </div>

                        <div class="post-content">
                            <strong>@Html.DisplayFor(modelItem => item.Title)</strong><br />
                            @Html.DisplayFor(modelItem => item.Text)<br />
                            @if (item.Img != null && item.Img.Length > 0)
                            {
                                var imageSrc = $"~/UserImages/{Encoding.UTF8.GetString(item.Img)}";
                                <img src="@Url.Content(imageSrc)" />
                            }
                            <div style="height:8px;"></div>
                            @if (item.Data != null && item.Data.Length > 0)
                            {
                                var dataSrc = $"~/UserFolders/{Encoding.UTF8.GetString(item.Data)}";
                                var fileExtension = System.IO.Path.GetExtension(Encoding.UTF8.GetString(item.Data)).ToLower();
                                var fileIcon = "";
                                switch (fileExtension)
                                {
                                    case ".pdf":
                                        fileIcon = "fa-file-pdf";
                                        break;
                                    case ".doc":
                                    case ".docx":
                                        fileIcon = "fa-file-word";
                                        break;
                                    case ".xls":
                                    case ".xlsx":
                                        fileIcon = "fa-file-excel";
                                        break;
                                    case ".ppt":
                                    case ".pptx":
                                        fileIcon = "fa-file-powerpoint";
                                        break;
                                    default:
                                        fileIcon = "fa-file";
                                        break;
                                }
                                <a style="padding:5px; margin:5px 5px 5px 0px;">File which you need to is here</a>
                                <a href="@Url.Content(dataSrc)" download>
                                    <i class="far @fileIcon"></i>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </a>

                                <!-- thêm tên file vào đây -->
                            }
                        </div>


                        <div class="post-bottom">
                            <div class="action idea" data-idea-id="@item.Id">
                                <div class="like-button reaction-button" id="like-@item.Id-1">
                                    <i class="far fa-thumbs-up"></i>
                                    <span id="like-count-@item.Id">@item.Reacts.Where(r=>r.Reaction==1).Count()</span>
                                </div>
                                <div class="love-button reaction-button" id="love-@item.Id-1">
                                    <i class="far fa-heart"></i>
                                    <span id="love-count-@item.Id">@item.Reacts.Where(r=>r.Reaction==2).Count()</span>
                                </div>
                                <div class="haha-button reaction-button" id="haha-@item.Id-1">
                                    <i class="far fa-laugh"></i>
                                    <span id="haha-count-@item.Id">@item.Reacts.Where(r=>r.Reaction==3).Count()</span>
                                </div>
                                <div class="dislike-button reaction-button" id="dislike-@item.Id-1">
                                    <i class="far fa-thumbs-down"></i>
                                    <span id="dislike-count-@item.Id">@item.Reacts.Where(r=>r.Reaction==4).Count()</span>
                                </div>
                                <div class="view-count reaction-button">
                                    <i class="far fa-eye"></i>
                                    <span>@item.ViewCount</span>
                                </div>
                            </div>
                            <div class="action">
                                <i class="far fa-comment"></i>
                                <span>Comment</span>
                            </div>
                            <div class="action">
                                <i class="fa fa-share"></i>
                                <span>Share</span>
                            </div>
                        </div>
                        <div>
                            <hr>
                            <div class="post-bottom" style="display:inline-block">
                                <form style="width:100%; " id="comment-form-@item.Id">

                                    <textarea placeholder="Enter your comment here ..." id="comment-text-@item.Id" name="comment"></textarea>
                                    <button type="submit">Submit</button>
                                </form>

                            </div>
                            <script>
                                $(document).ready(function () {
                                    $('#comment-form-@item.Id').submit(function (event) {
                                        event.preventDefault();
                                        var commentText = $('#comment-text-@item.Id').val();
                                        if (commentText.trim() === '') { // Kiểm tra nếu textarea trống
                                            alert('Vui lòng nhập bình luận');
                                            return; // Không gửi request khi textarea trống
                                        }
                                        var ideaId = @item.Id;
                                        $.ajax({
                                            url: '/Idea/AddComment',
                                            type: 'POST',
                                            dataType: 'json',
                                            data: { text: commentText, ideaId: ideaId },
                                            success: function (data) {
                                                // Gọi lại phương thức GetRecentComments để lấy danh sách bình luận mới nhất
                                                $.ajax({
                                                    url: '/Idea/GetRecentComments?postId=@item.Id',
                                                    type: 'GET',
                                                    dataType: 'json',
                                                    success: function (data) {
                                                        // Xóa các bình luận cũ và thêm các bình luận mới vào danh sách
                                                        var commentList = $('#comment-list-@item.Id');
                                                        commentList.empty();
                                                        for (var i = 0; i < data.length; i++) {
                                                            var comment = data[i];
                                                            var commentHtml = '<div class="comment">' + comment.text + '</div>';
                                                            commentList.append(commentHtml);
                                                        }
                                                        // Hiển thị danh sách bình luận mới
                                                        commentList.show();
                                                    },
                                                    error: function () {
                                                        alert('Đã xảy ra lỗi khi gửi yêu cầu đến server.');
                                                    }
                                                });
                                                // Xóa nội dung của textarea
                                                $('#comment-text-@item.Id').val('');
                                            },
                                            error: function () {
                                                alert('Đã xảy ra lỗi khi gửi yêu cầu đến server.');
                                            }
                                        });
                                    });
                                });
                            </script>

                            <hr>
                            <div class="post-bottom">
                                <div style="width:100%;" id="comment-list-@item.Id">
                                    <!-- danh sách comment sẽ được thêm vào đây -->
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    // Gửi yêu cầu Ajax đến phương thức GetRecentComments để lấy danh sách 3 comment gần nhất
                                    $.ajax({
                                        url: '/Idea/GetRecentComments?postId=@item.Id',
                                        type: 'GET',
                                        dataType: 'json',
                                        success: function (data) {
                                            // Cập nhật nội dung của phần tử HTML hiển thị danh sách comment
                                            var commentList = $('#comment-list-@item.Id');
                                            commentList.empty(); // Xóa nội dung cũ

                                            // Thêm các comment mới nhất vào danh sách
                                            for (var i = 0; i < data.length; i++) {
                                                var comment = data[i];
                                                var commentHtml = '<div class="comment">' + comment.text + '</div>';
                                                commentList.append(commentHtml);
                                            }
                                        },
                                        error: function () {
                                            alert('Đã xảy ra lỗi khi gửi yêu cầu đến server.');
                                        }
                                    });
                                });
                            </script>
                        </div>

                    </div>
                }
            </div>
            <div class="right-panel">
                <div class="pages-section">
                    <h4>Your pages</h4>
                    <a class='page' href="#">
                        <div class="dp">
                            <img src="~/images/logo.png" alt="logo">
                        </div>
                        <p class="name">Cody</p>
                    </a>

                    <a class='page' href="#">
                        <div class="dp">
                            <img src="~/images/dp.jpg" alt="">
                        </div>
                        <p class="name">Cody Tutorials</p>
                    </a>
                </div>

                <div class="friends-section">
                    <h4>Friends</h4>
                    @foreach (var user in await UserManager.Users.ToListAsync())
                    {
                        <a class='friend' href="#">
                            <div class="dp">
                                @if (!string.IsNullOrEmpty(user.Image))
                                {
                                    <img src="@user.Image" alt="@user.UserName">
                                }
                                else
                                {
                                    <img src="~/images/download.png" alt="Default Avatar">
                                }
                            </div>
                            <p class="name">@user.UserName.Split('@')[0]</p>
                        </a>
                    }


                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

