@model IEnumerable<_1640WebApp.Models.tNotification>

@{
    ViewData["Title"] = "List of Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contain-create {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/287/575/original/purple-themed-particle-form-futuristic-neon-graphic-background-science-energy-3d-abstract-art-element-illustration-technology-artificial-intelligence-shape-theme-wallpaper-animation-free-video.jpg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: absolute;
        top: 49px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll !important;
        padding-left: 70px;
        color: white;
        font-weight: bold;
        padding-bottom: 50px;
    }

    table {
        color: white;
        background-color: azure;
        opacity: 85%;
        min-height: 400px;
        padding: 10px;
        width: 91.5% !important;
        border-radius: 5px;
        text-align: center;
    }

    .button1 {
        background-color: forestgreen;
        padding: 10px;
        color: white;
        border-radius: 10px;
        margin: 10px 10px 10px 0px;
    }

    .button2 {
        background-color: forestgreen;
        padding: 6px;
        color: white;
        border-radius: 10px;
    }

    .button3 {
        background-color: darkred;
        padding: 6px;
        color: white;
        border-radius: 10px;
        a: hover

    {
        color: red !important;
        margin: 3px;
    }
</style>
<div class="contain-create">
    <div style="height:50px;"></div>
    <div class="row">
        <div class="col-md-6 text-start">
            <h1 class="text-white text-uppercase">@ViewBag.title</h1>
            <a class="btn btn-sm btn-success m-1" asp-action="Create">Create</a>
        </div>
        <div class="col-md-6 text-start">
            <form method="get" action="@Url.Action("SearchAdmin", "NotificationAdmin")" style="margin: 5px">
                <input type="text" placeholder="Search here" name="searchString" style="padding: 6px 12px; border-radius: 12px; border: 1px solid gray;">
            </form>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    <div style="border-radius: 12px; border: 1px solid gray;">
                        @Html.DropDownList("Types", (IEnumerable<SelectListItem>)ViewBag.Types, new { @class = "form-control", @id = "filter-notification" })
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="truncated-text-Title">@item.Title</span>
                    </td>
                    <td>
                        <span class="truncated-text-Text">@item.Content</span>
                    </td>
                    <td>
                        <span class="truncated-text-Text">@item.Type</span>
                    </td>                    
                    <td>
                        <div class="text-center">
                            <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <span></span>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

@*chuyển đổi text dài quá số lượng sang ... sử dụng jQuery *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.truncated-text-Title').each(function () {
            var max_length = 10;
            if ($(this).text().length > max_length) {
                $(this).text($(this).text().substring(0, max_length) + '...');
            }
        });
    });
</script>
@*chuyển đổi text dài quá số lượng sang ... sử dụng jQuery *@
<script>
    $(document).ready(function () {
        $('.truncated-text-Text').each(function () {
            var max_length = 50;
            if ($(this).text().length > max_length) {
                $(this).text($(this).text().substring(0, max_length) + '...');
            }
        });
    });
</script>
@*sort*@
<script>
    $(document).ready(function () {
        $('#filter-notification').change(function () {
            var type = $(this).val();
            window.location.href = '@Url.Action("FilterAdmin", "NotificationAdmin")?typeData=' + type;
        });
    });
</script>
